<div class="container">
  <div class="header">
    <div class="title">Convert Currency</div>
    <div class="updated">Updated {{ currencyPair().updated | date: 'short'}}</div>
  </div>
  <div class="contents">
    <div class="from">
        <sct-currency-input
            class="from-currency"
            (valueChanged)="onFromCurrencyValueChanged($event)"
            [currency]="currencyPair().from"></sct-currency-input>
    </div>
    <div class="to">
      <div class="indicator" [class.checking]="isChecking()">
        <img src="./images/checking.svg" alt="Checking" />
      </div>

      <sct-currency-input
          class="to-currency"
          (valueChanged)="onToCurrencyValueChanged($event)"
          [currency]="currencyPair().to"></sct-currency-input>
    </div>
  </div>
  <div class="footer">
    Created by Scott Straughan
  </div>
</div>