:host {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;

  .container {
    --container-side-padding: 2rem;

    width: 600px;
    height: 600px;
    background-color: #6238cb;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .header,
    .footer {
      padding: 1rem var(--container-side-padding);
      color: white;
    }

    .header {
      display: flex;

      .title,
      .updated {
        flex: 1;
        padding: 1rem 0;
      }

      .title {
        font-size: 1.2rem;
      }

      .updated {
        text-align: right;
        opacity: .4;
      }
    }

    .contents {
      flex: 1;
      background-color: #e9e9e9;
      display: flex;
      flex-direction: column;

      .to,
      .from {
        flex: 1;
        padding: 4rem;
      }

      .to {
        background-color: white;
      }

      .to .to-currency {
        --sct-background-color: #e9e9e9;
      }

      .currency-input {
        border: #ccc 1px solid;
        padding: 1rem;
        width: 100%;
        background-color: red;
        border-radius: 12px;
        font-size: 2rem;
      }
    }

    .footer {
      background-color: #372073;
      color: rgba(255, 255, 255, .4);
    }
  }
}