:host {
  --sct-background-color: white;
  --sct-height: 100px;

  display: flex;
  gap: 1rem;

  .input-container {
    background-color: var(--sct-background-color);
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    height: var(--sct-height);
    font-size: 2rem;
    border: 2px transparent;
    flex: 1;

    &.invalid {
      border: red 2px solid;
    }

    .symbol {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 1.5rem;
      opacity: .5;
      width: 80px;
    }

    .value {
      width: 100%;
      background-color: transparent;
      border: none;
      font: inherit;
      outline: none;
    }
  }

  .currency {
    background-color: var(--sct-background-color);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    transition: .2s all;
    width: 70px;
    position: relative;
    cursor: pointer;

    &:hover,
    &.active {
      background-color: #d1d1d1;
    }

    img {
      max-width: 40px;
      width: 100%;
      height: auto;
    }

    .currencies {
      position: absolute;
      top: calc(var(--sct-height) - 12px);
      right: 0;
      overflow: auto;
      background-color: #d1d1d1;
      list-style: none;
      z-index: 99999;
      width: 250px;
      height: 200px;
      border-radius: 12px 0 12px 12px;
      padding: .5rem;

      ol {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: .2rem;
      }

      li {
        padding: 1rem;
        border-radius: 12px;
        background-color: rgba(255, 255, 255, .3);
        cursor: pointer;

        &:hover {
          background-color: rgba(255, 255, 255, .6);
        }

        img {
          width: 30px;
          vertical-align: middle;
          margin-right: .5rem;
        }
      }
    }
  }

  .loading {
    pointer-events: none;
    cursor: not-allowed;
    background: linear-gradient(90deg, #e0e0e0 25%, #c6c6c6 37%, #e0e0e0 63%);
    background-size: 400% 100%;
    animation: shimmer 6s infinite linear;

    @keyframes shimmer {
      0% {
        background-position: -400% 0;
      }
      100% {
        background-position: 400% 0;
      }
    }
  }
}